.container {
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-weight: bold;
font-size: 22px;
color: rgb(255, 31, 31);
}
.links {
display: flex;
align-items: center;
gap: 20px;
list-style: none;
}

.logout {
padding: 10px;
border: none;
background-color: rgb(255, 31, 31);
color: white;
cursor: pointer;
border-radius: 25px;
}

 /* .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  */

  
  /* .logo {
    font-weight: bold;
    font-size: 22px;
    color: rgb(255, 31, 31);
    z-index: 10; 
  } */
  
  /* .links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    transition: transform 0.3s ease-in-out; 
    transform: translateX(100%); 
  } */
  
  /* .links.open {
    transform: translateX(0); 
   */
  /* .logout {
    padding: 10px;
    border: none;
    background-color: rgb(255, 31, 31);
    color: white;
    cursor: pointer;
    border-radius: 25px;
  } */
  
  /* .menuButton {
    display: none;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10; 
  }
   */

  /* @media screen and (max-width: 768px) { */
    /* .links {
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 100px; /* Altura del navbar */
      /* left: 0;
      width: 100%;
      background-color: white;
     */
  
    /* .menuButton {
      display: block; /* Muestra el botón "hamburguesa" */
